* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
}

.container {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    border-radius: 30px;
    padding: 10px;
    gap: 5px;
    
}

.row {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 90%;
    gap: 5px;
}

#displayBox {
    width: 90%;
    height: 100px;
    margin-bottom: 5%;
    border: solid rgb(46, 46, 46) 2px;
    border-radius: 20px;
    background-color: #ffffffd2;
    overflow: auto;
    display: flex;
    align-items: center;
}

.displayContent {
    font-size: 40px;
    margin-left: auto;
    margin-right: 5%;
}

.button {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    font-size: 30px;
}

.wide-button {
    width: 165px;
}

.clear-button {
    background-color: rgb(175, 175, 175);
}

.arithmetic-button, .operate-button {
    background-color: rgba(255, 166, 0, 0.885);
}
