* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
}

.container {
    flex: 0 0 30%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    border-radius: 30px;
    padding: 10px;
    gap: 5px;
    
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.row:nth-child(5) {
    background-color: red;
    justify-content: flex-start;
}

.row > .button {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.number-button, .arithmetic-button, .period-button, .operate-button {
    flex: 1;
}

.zero-button {
    flex: 2;
    background-color: green;
}

.clear-button {
    flex: 3;
}
